@import url("https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  --blue: #1565c0;
  --green: #2e7d32;
  --red: #ce0202;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#root {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
}

body.menu-open {
  overflow: hidden;
}

a {
  text-decoration: none;
}

header {
  background-color: black;
  padding: 1.5rem;
  display: flex;
  justify-content: space-between;
  gap: 32px;
  height: 97px;
}

.logo {
  color: white;
  font-family: "Kdam Thmor Pro", sans-serif;
  font-size: 2rem;
  border-radius: 16px;
}

.nav-links {
  display: flex;
  width: 50%;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
}

.nav-links > * {
  font-family: "Roboto", sans-serif;
  color: white;
}

.nav-links > *::first-letter {
  text-transform: capitalize;
}

.active-nav {
  border-bottom: 3px solid white;
}

.header-cart {
  position: relative;
}

.bag-icon {
  font-size: 27px;
}

.cart-item-count {
  position: absolute;
  top: 60%;
  left: 45%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--blue);
  border: 2px solid black;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  font-size: 14px;
}

main {
  font-family: "Roboto", sans-serif;
  position: relative;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  background-color: #f6f6f6;
  z-index: 1;
}

.home-background {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.home-content {
  padding: 1.5rem 0;
  margin-top: 2rem;
  color: white;
  width: 50%;
}

.home-content h1 {
  font-size: 60px;
}

.home-content h2 {
  font-size: 20px;
  line-height: 1.75rem;
  margin: 0.5rem 0 4rem;
}

a.shop-now {
  width: fit-content;
  color: white;
  padding: 0.7rem 1rem;
  background-color: var(--blue);
  border: none;
  border-radius: 20px;
  font-size: 15px;
  cursor: pointer;
}

a.shop-now:hover {
  background-color: hsl(212, 80%, 35%);
}

.shop-header {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 1.5rem 1.5rem 1rem;
  align-self: self-start;
}

.shop-header h1 {
  margin-bottom: 2rem;
}

.angled-bracket {
  position: relative;
  top: -7%;
  color: gray;
  font-size: 10px;
}

.products {
  display: flex;
  gap: 32px;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 1.5rem;
}

.card {
  background-color: white;
  border-radius: 5px;
  padding: 2rem;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 1px -1px,
    rgba(0, 0, 0, 0.14) 0px 1px 1px 0px, rgba(0, 0, 0, 0.12) 0px 1px 3px 0px;
}

.product-card {
  width: 350px;
  height: 482.75px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}

.product-image-div {
  display: flex;
  align-items: center;
  height: 256px;
  min-height: 256px;
}

.product-image {
  width: 140px;
}

.product-details-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100px;
}

.product-title {
  font-size: 14px;
  font-weight: 500;
  height: 35px;
  min-height: 35px;
  margin-bottom: 10px;
}

.product-price {
  font-weight: bold;
}

.add-cart-btn,
.checkout-button {
  display: flex;
  font-size: 13px;
  color: white;
  background-color: var(--green);
  border: none;
  padding: 0.6rem 0.7rem;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  gap: 10px;
  align-items: center;
}

.add-cart-btn:hover {
  background-color: #1b5e20;
}

.add-to-cart-text {
  text-transform: uppercase;
}

.quantity-control {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.quantity-control > * {
  padding: 8px 13px;
  border: 1px solid var(--green);
  background-color: white;
  height: 37px;
}

.item-quantity {
  border-left: none;
  border-right: none;
}

.minus-plus-icons {
  font-size: 16px;
}

.minus-button {
  color: var(--red);
}

.plus-button {
  color: var(--green);
}

.quantity-control > button {
  cursor: pointer;
}

.quantity-control > button:hover {
  background-color: #f7faf7;
}

.about-content {
  padding: 1.5rem 0;
  margin: auto;
  height: 40dvh;
  width: 90%;
}

.about-content > p {
  margin-bottom: 3rem;
  font-size: 20px;
}

.star-rating {
  font-size: 24px;
  color: #ffd700; /* Gold color for filled stars */
  user-select: none;
  position: relative;
  top: -6%;
}

.star {
  display: inline-block;
}

.half {
  position: relative;
  transform: rotateY(180deg);
}

.half::after {
  content: "★";
  position: absolute;
  left: 0;
  top: 0;
  width: 50%;
  overflow: hidden;
  color: #e0e0e0; /* Gray color for empty part */
}

.empty {
  color: #e0e0e0; /* Gray color for empty stars */
}

.ratings {
  display: flex;
  align-items: center;
  gap: 5px;
}

.empty-cart-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 6rem;
  margin-top: 3.5rem;
}

.shopping-page {
  width: 100%;
  display: flex;
  gap: 25px;
  justify-content: space-evenly;
  margin: 3.5rem 0;
}

.cart-details {
  width: 550px;
  display: flex;
  flex-direction: column;
  gap: 36px;
}

.quantity-summary {
  display: flex;
  justify-content: space-between;
}

.all-products-card {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.product-details,
.checkout {
  border: 1px solid rgb(216, 216, 223);
}

.checkout {
  height: 400px;
  width: 266px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.credit-cards-div {
  max-width: 100%;
  width: 100%;
}

.credit-cards-div img {
  width: 200px;
}

.product-details:hover,
.checkout:hover {
  border: 1px solid rgb(185, 185, 198);
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.product-details {
  display: flex;
  justify-content: space-between;
  gap: 24px;
}

.cart-product-image-div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 125px;
  min-height: 125px;
}

.cart-product-image {
  width: 100px;
}

.cart-product-title {
  margin-bottom: 60px;
}

.cart-product {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cart-product-details {
  width: 70%;
}

button.checkout-button {
  font-size: 16px;
  display: flex;
  justify-content: center;
}

.checkout-total {
  display: flex;
  justify-content: space-between;
}

.checkout-total-text,
.checkout-total-value {
  font-weight: bold;
  font-size: 20px;
}

.remove-button {
  background-color: white;
  border: none;
  border-radius: 10px;
  padding: 0.5rem;
  color: rgb(161, 14, 37);
  cursor: pointer;
}

.remove-button:hover {
  background-color: #ffe9e8;
}

/* begining of the menu burger */
.menu-btn {
  position: relative;
  display: none;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 36px;
  cursor: pointer;
}

.menu-btn__burger,
.menu-btn__burger::before,
.menu-btn__burger::after {
  width: 20.4px;
  height: 2.2px;
  background-color: white;
  border-radius: 5px;
  transition: all 0.5s ease-in-out;
}

.menu-btn__burger::before,
.menu-btn__burger::after {
  content: "";
  position: absolute;
}

.menu-btn__burger::before {
  transform: translateY(-7px);
}

.menu-btn__burger::after {
  transform: translateY(7px);
}

/* animation to the menu burger */

.menu-btn.open .menu-btn__burger {
  transform: translateX(40px);
  background: transparent;
}

.menu-btn.open .menu-btn__burger::before {
  transform: rotate(45deg) translate(-28.5px, 28.5px);
  width: 26.4px;
  height: 1.5px;
}

.menu-btn.open .menu-btn__burger::after {
  transform: rotate(-45deg) translate(-28.5px, -28.5px);
  width: 26.4px;
  height: 1.5px;
}
/* end of the menu burguer */

@keyframes right-to-left {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes left-to-right {
  0% {
    opacity: 1;
    transform: translateX(0);
  }

  100% {
    opacity: 0;
    transform: translateX(100%);
  }
}

@media screen and (max-width: 812px) {
  .shopping-page {
    flex-direction: column-reverse;
    width: 85%;
    padding: 0 24px;
    align-items: center;
  }

  .checkout {
    height: 300px;
  }

  .about-content {
    margin: 60px auto;
  }
}

@media screen and (max-width: 630px) {
  .shopping-page {
    width: 100%;
  }

  .cart-details {
    width: 100%;
  }
}

@media screen and (max-width: 511px) {
  body {
    overflow-x: hidden;
  }

  .home-content {
    width: 80%;
  }

  .home-content h1 {
    font-size: 36px;
  }

  .home-content h2 {
    font-size: 16px;
  }
  .nav-links {
    display: none;
    transition: all 0.5s ease-in-out;
  }

  .menu-btn {
    display: flex;
    transition: all 0.5s ease-in-out;
  }

  nav.nav-show,
  nav.nav-hide {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: absolute;
    justify-content: flex-start;
    align-items: flex-start;
    transition: all 0.5s ease-in-out;
    top: 97px;
    left: 0%;
    z-index: 99;
    background-color: black;
    border-radius: 5px;
    height: calc(100vh - 97px);
    width: 100vw;
    padding: 40px 24px 0;
    gap: 24px;
    font-weight: 400;
    font-size: 26px;
  }

  nav.nav-show {
    animation: right-to-left 0.3s ease-in forwards;
  }

  nav.nav-hide {
    animation: left-to-right 0.3s ease-in forwards;
  }

  .cart-product-image-div {
    height: 80px;
    align-self: center;
  }

  .cart-product-image {
    width: 80px;
  }

  .cart-product {
    flex-direction: column;
    gap: 20px;
  }
}

@media screen and (max-width: 360px) {
  .products {
    padding: 24px;
  }
  .product-card.card {
    max-width: 85%;
    padding: 1rem;
  }

  .product-image-div {
    width: 40%;
    height: 200px;
    min-height: 200px;
  }
  .product-image {
    width: 100%;
  }

  .product-details-div {
    height: 115px;
  }

  .product-title {
    min-height: 50px;
  }
  .product-details {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .quantity-summary {
    flex-direction: column;
    gap: 16px;
  }

  .checkout {
    max-width: 100%;
  }

  .credit-cards-div img {
    max-width: 100%;
  }
}

@media screen and (max-width: 325px) {
  .products {
    max-width: 120%;
  }

  .product-image-div {
    width: 50%;
  }
}

@media screen and (max-width: 272px) {
  .product-details-div {
    height: 130px;
  }

  .product-title {
    min-height: 65px;
  }
}

@media screen and (max-width: 265px) {
  .checkout-total {
    flex-direction: column;
  }

  .product-image-div {
    width: 60%;
  }
}

@media screen and (max-width: 227px) {
  header {
    flex-direction: column;
    height: 145px;
  }

  nav.nav-show,
  nav.nav-hide {
    height: calc(100vh - 145px);
    top: 145px;
  }

  .about-content {
    margin: 20px auto;
  }

  .shopping-page {
    padding: 0 10px;
  }
  .card {
    padding: 10px;
  }

  .all-products-card,
  .checkout {
    min-width: 136px;
  }

  .checkout {
    height: 250px;
    align-items: center;
  }

  button.checkout-button {
    width: 80%;
  }

  .products {
    max-width: 130%;
  }
}

@media screen and (max-width: 211px) {
  .product-details-div {
    height: 160px;
  }

  .product-title {
    min-height: 95px;
  }

  .ratings span {
    font-size: 14px;
  }
}
